body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    font-family: 'Courier New', monospace;
}

#calculator {
    width: 300px;
    background: #222;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.3s;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 5px; /* Space between buttons */
    justify-content: center;
}

button:hover {
    background: #666;
}

button:nth-child(4n) { /* Operator buttons */
    background: #541d07;
}

button:nth-child(4n):hover {
    background: #e08900;
}

#clear {
    background: #ff3b3b;
}

#clear:hover {
    background: #d93232;
}

#equals {
    background: #4caf50;
}

#equals:hover {
    background: #3e8e41;
}
